/*
Theme Name: Saren Child
Description: Child theme for the Saren. Child themes are the recommended way of making modifications to a theme. <a href="http://codex.wordpress.org/Child_Themes">Read More</a>
Author: PeThemes
Author URI: http://pethemes.com
Template: saren
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
